/* main container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), #e2deda 10%, #e2deda 88%, rgba(0, 0, 0, 0.2));
    padding: 2rem 0;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 600px;
    gap: 3rem;
}

.container-cards h2 {
    font-size: 3rem;
    margin: 0;
}

.project-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content-card h3 {
    font-size: 1.5rem;
    margin: 0;
}


.content-card div ul {
    display: flex;
    flex-wrap: wrap;

    gap: 0.5rem;
    list-style: none;
    padding: 0;
}


.social-link {
    display: flex;
    gap: 1rem;
}

.social-link a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
    background-color: black;
    color: wheat;
    gap: 10px;
}

/* Lenguagues */

.lenguagues {
    padding: 8px;
    border-radius: 5px;
    color: white;

}

.react-style {
    background-color: rgb(1, 107, 107);
}

.java-style {
    background-color: rgb(61, 108, 126);
}

.javascript-style {
    background-color: rgb(201, 113, 41);
}

.html-style {
    background-color: rgb(156, 156, 156);
}

.css-style {
    background-color: rgb(230, 167, 33);
}

.spring_boot-style {
    background-color: rgb(76, 53, 161);
}

.spring_security-style {
    background-color: rgb(134, 150, 41);
}

.ruby-on-rails-style {
    background-color: rgb(150, 55, 55);
}

/* Habilities */

.container-habilities {
    background-color: #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-habilities h1 {
    color: white;
}

.content-habilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 3rem;

}

.effectScroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 4s ease-out;
}

.effectScroll.visible {
    opacity: 1;
    transform: translateY(0);
}

.content-habilities img {
    width: 100px;
    height: auto;
}

.content-habilities img:hover {
    transform: scale(1.1);
}

.iframe {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .iframe {
        width: 307px;
        height: 270px;
    }

    .content-card {
        width: 330px;
    }

    .container-cards {
        width: 100%;
    }

    .container-cards h2 {
        padding-left: 10%;
    }


}